# --- DEFAULTS --------------------------------------------------------------- #

# Ignore everything not explicitly specified
*
.*

# Not this file though
!.gitignore

# --- GIT -------------------------------------------------------------------- #

# configs
!.gitignore_master

# --- VIM -------------------------------------------------------------------- #

# Configs
!.vim*
!.vim/**/
!.vim/**/*

# viminfo is a dynamic file
.viminfo

# vim plugins sometimes don't have good gitignores, so they show as dirty. We
# can ignore them because .vimrc + vundle will re-clone
# TODO: Think about making Vundle a submodule
.vim/bundle/*
!.vim/bundle/Vundle.vim

# --- BASH ------------------------------------------------------------------- #

# configs
!.bash*
!.git_svn_bash_prompt

# Don't include history
.bash_history
