# --- DEFAULTS -------------------------------------------------------------- #

# Ignore everything not explicitly specified
*
.*

# repository files
!.gitignore
!README.md

# --- TOP-LEVEL PROFILE ----------------------------------------------------- #

!.profile

# --- GIT ------------------------------------------------------------------- #

# configs
!.gitignore_master

# --- VIM ------------------------------------------------------------------- #

# Configs
!.vim*
!.vim/**/
!.vim/**/*

# viminfo is a dynamic file
.viminfo

# vim plugins sometimes don't have good gitignores, so they show as dirty. We
# can ignore them because .vimrc + vundle will re-clone
.vim/bundle/*
!.vim/bundle/Vundle.vim

# A history file which changes rarely but probably shouldn't be versioned
.vim/.netrwhist

# --- BASH ------------------------------------------------------------------ #

# configs
!.bash*
!.git_svn_bash_prompt

# Don't include history
.bash_history

# Don't include path (from deep-thought)
.bash_path

# --- I3 -------------------------------------------------------------------- #

# config
!.i3
!.i3/**

